/* STILI INPUTS */
input {
    background: none;
    font-size: 14px;
    padding: 10px 10px 10px 5px;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #44c767;
}

input:focus {
    outline: none;
}
