body{
    padding-top: 80px;
}

.container-bg {
	color: white;
  	background-attachment: fixed;
 	padding: 2rem 2rem 2rem 2rem;
 	margin-bottom: 2rem;
  	border-radius: 0.3rem;
  	background-size: cover;
}


.container-post{
	background-color: #F5F5F5;
	padding-top: 20px;
	padding-bottom: 20px;
  	background-repeat: repeat-x;
  	background-attachment: fixed;
 	background-position: center;
 	width: 40%;
}
