body {
    padding-top: 90px;
}

/* stili filtri categoria index.php */

#listaCateg > li {
    cursor: pointer;
}

 /*container con sfondo*/
.container-bg {
    color: white;
    background-attachment: fixed;
    padding: 2rem 2rem 2rem 2rem;
    margin-bottom: 2rem;
    border-radius: 0.3rem;
    background-size: cover;
    background-color: #ffffff;
    opacity: 0.6;
}
.blackHover{
    background-color: rgba(0, 0, 0, 0.3);
    padding: 2rem 2rem 2rem 2rem;
}
/*container dei post*/
.container-post {
    background-color: #F5F5F5;
    padding-top: 20px;
    padding-bottom: 20px;
    background-repeat: repeat-x;
    background-attachment: fixed;
    background-position: center;
    width: 40%;
}
/*styling errori dal server*/
.error {
    border-color: #b32d39;
}

/*personalizzazioni*/
/*card*/
.card-bg {
    background-size: cover;
    opacity: 0.9;
}

.card-header-bg {
    background-size: cover;
    opacity: 0.9;
    color: white;
}

.card-opac {
    opacity: 0.7;
}

/*testo*/
.text-white {
    color: white;
}

.text-black {
    color: black;
}

/*body background*/
.bg-dark {
    background-color: #000000;
}

.bg-white {
    background-color: #FFFFFF;
}

.bg-blue {
    background-color: #aed6f1;
}

.bg-pink {
    background-color: #FFC0CB;
}

.bg-green {
    background-color: #9FFFA7;
}
